[Desktop Entry]
Name=VizionViewer
Comment=
Version=23.05.2
Type=Application
Icon=/opt/vizionviewer/icons/icon.png
Terminal=false
Exec=/opt/vizionviewer/vizionviewer-polkit
Path=/opt/vizionviewer
Categories=Utility
StartupNotify=true
